%h3= t('.contacts')
%table{border: "1", style: "border-collapse: collapse; width: 500px;"}
  %thead
    %tr
      %th= t('.name')
      %th= t('.phone')
      %th= t('.email')
  %tbody
    = render @phone_book.contacts

%p= t('.follow_link')
= phone_book_url id: @phone_book.id, locale: I18n.locale