%div#container{"ng-controller" => "PhoneBookCtrl"}
  = form_tag phone_book_path(@phone_book, locale: :en), class: 'locale right' do
    = select_tag 'set_locale',                         |
      options_for_select(LANGUAGES, I18n.locale.to_s), |
      onchange: 'document.location = this.form.action.replace("/en/", "/" + this.value + "/")' |

  %h3= t('.contacts')
  %table.table.table-bordered.table-hover
    %thead
      %tr
        %th= t('.name')
        %th= t('.phone')
        %th= t('.email')
    %tbody
      %tr{"ng-repeat" => "contact in contacts | orderBy:'name'", "ng-switch" => "contact.state"}
        %td{"ng-switch-default" => ""} {{contact.name}}
        %td{"ng-switch-default" => ""} {{formatPhoneNumber(contact.phone)}}
        %td{"ng-switch-default" => ""} 
          {{contact.email}}
          .right
            %button.btn{"ng-click" => "edit(contact)"}= t('.edit')
            %button.btn{"ng-click" => "destroy(contact)"}= t('.delete')
        %td{"ng-switch-when" => "editing", colspan: 3}
          %form.inline_form{"ng-submit" => "update(contact)"}
            %input{type: "text", "ng-model" => "contact.edit.name", required: "", placeholder: "#{t('.enter') + ' ' + t('.name')}"}
            %input{type: "text", "ng-model" => "contact.edit.phone", required: "", pattern: "\\d{10}", title: "10 digits",  placeholder: "#{t('.enter') + ' ' + t('.phone')}"}
            %input{type: "email", "ng-model" => "contact.edit.email", required: "", placeholder: "#{t('.enter') + ' ' + t('.email')}"}
            %input{type: "submit", value: "#{t('.save')}", class: "btn btn-primary"}
  %h3= t('.add_contact')
  %form{"ng-submit" => "addContact()"}
    .field
      %label= t('.name')
      %input{type: "text", "ng-model" => "newContact.name", required: ""}
    .field  
      %label= t('.phone')
      %input{type: "text", "ng-model" => "newContact.phone", required: "", pattern: "\\d{10}", title: "10 digits"}
    .field  
      %label= t('.email')
      %input{type: "email", "ng-model" => "newContact.email", required: ""}
    .field
      %input{type: "hidden", "ng-init" => "newContact.phone_book_id=#{@phone_book.id}"}
    .field
      %input{type: "submit", value: "#{t('.add')}", class: "btn btn-primary"}

  %h3= t('.get_this_phone_book_via_email')
  %form#receive_phone_book
    .field
      %label= t('.your_email')
      %input{type: "email", required: ""}
    .field
      %input{type: "submit", value: "#{t('.receive')}", class: "btn btn-success"}

:coffeescript
  app = angular.module("Demo", ["ngResource"])

  app.config ["$httpProvider", (provider) ->
    provider.defaults.headers.common['X-CSRF-Token'] = $('meta[name=csrf-token]').attr('content')
  ]

  app.factory "Contact", ["$resource", ($resource) ->
    $resource("/api/v1/phone_books/#{@phone_book.id}/contacts/:id.json", {id: "@id"}, {update: {method: "PUT"}})
  ]
  
  $("#receive_phone_book").on "submit", =>
    $.ajax
      type: 'POST'
      url: "#{phone_book_phone_book_receptions_path(phone_book_id: @phone_book.id)}"
      data:
        phone_book_reception:
          email: $("#receive_phone_book input[type='email']").val()
      success: (data) ->
        if data.status == 200
          $('#myModal .modal-body').text("#{t('.receive_phone_book.success')}")
        else
          $('#myModal .modal-body').text("#{t('.receive_phone_book.error')}")
        $('#myModal').modal()
      error: (data) ->
        $('#myModal .modal-body').text("#{t('.receive_phone_book.error')}")
        $('#myModal').modal()

    
= javascript_include_tag "phone_books"

#myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title= t('.message')
      .modal-body
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"}= t('.ok')