- results.each do |result|
  %tr
    %td
      %p= link_to format_string("#{result[:title]} [#{result[:category].upcase}]"), result[:magnet_link]
    %td= link_to "URL", "http://thepiratebay.se#{result[:url]}"