!!!
%html{"ng-app" => "Demo"}
  %head
    %title Demo
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body{class: controller.controller_name}
    = yield
    #feedback_trigger
      %a{"data-toggle" => "modal", "data-target" => "#feedback"} Feedback
    #feedback.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
            %h4#myModalLabel.modal-title Tell us what do you think
          %form
            .modal-body
              .field  
                %label Email
                %input{type: "email", required: ""}
              .field
                %label Comment
                %textarea{row: 3, required: ""}
            .modal-footer
              %button.btn.btn-primary#submit_feedback{type: "submit"} Submit Feedback
              %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Cancel

:coffeescript
  $('#feedback').on 'show.bs.modal', =>
    $("#feedback input[type='email']").val("")
    $("#feedback textarea").val("")

  $("#feedback form").on "submit", (event) ->
    event.preventDefault()
    $.ajax
      type: 'POST'
      url: "#{api_v1_feedbacks_path}"
      data:
        feedback:
          email: $("#feedback input[type='email']").val()
          comment: $("#feedback textarea").val()
      success: ->
        $('#feedback').modal('hide')
      error: ->
        $('#feedback').modal('hide')
